div.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-style: solid;
    border width: 10px;
    border-color: white;
    border-right: 0px; border-left: 0px;
}
div.navbar-right{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse; 
    gap: 30px;
    

}
div.navbar-right a{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
div.navbar a:hover{ 
    color: grey;
}
div.intro img{
    border-style: solid;
    border-color: black;
    border-width: 100px;
    border-radius: 100%;
}
div.intro-left img{
    border-style: solid;
    border-color: black;
}

